In [1]:



import pandas as pd
import numpy as np

In [2]:

#dateset downloaded from
!kaggle datasets download akshatagrawal9431/shipment-orders-dataset

Dataset URL: https://www.kaggle.com/datasets/akshatagrawal9431/shipment-orders-dataset
License(s): CC0-1.0
Downloading shipment-orders-dataset.zip to /Users/srijjwolkunwor/Desktop/KunworDAPro
  0%|                                                | 0.00/197k [00:00<?, ?B/s]
100%|████████████████████████████████████████| 197k/197k [00:00<00:00, 61.6MB/s]

## Unzip the file

In [3]:
import zipfile
zip_ref = zipfile.ZipFile('orders_data.csv.zip')
zip_ref.extractall() #extract the file
#close
zip_ref.close()

In [4]:
df = pd.read_csv("/Users/srijjwolkunwor/Desktop/KunworDAPro/orders_data.csv")
df.head(5)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,01-03-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,15-08-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,10-01-2023,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,18-06-2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,13-07-2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [5]:
#df.shape( 9994,16)
# df.info
df.describe()
#df.isnull().sum() #1 missing

,Order Id,Postal Code,cost price,List Price,Quantity,Discount Percent
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,201.189714,229.756854,3.789574,3.484090
std,2885.163629,32063.693350,537.743203,623.245839,2.225110,1.114211
min,1.000000,1040.000000,0.000000,0.000000,1.000000,2.000000
25%,2499.250000,23223.000000,20.000000,20.000000,2.000000,2.000000
50%,4997.500000,56430.500000,50.000000,50.000000,3.000000,3.000000
75%,7495.750000,90008.000000,180.000000,210.000000,5.000000,4.000000
max,9994.000000,99301.000000,18110.000000,22640.000000,14.000000,5.000000

In [6]:
df[df['Ship Mode'].isnull()].sum()

Order Id                        119
Order Date               19-07-2023
Ship Mode                         0
Segment                   Corporate
Country               United States
City                        Bristol
State                     Tennessee
Postal Code                   37620
Region                        South
Category            Office Supplies
Sub Category                Binders
Product Id          OFF-BI-10003650
cost price                      140
List Price                      160
Quantity                          1
Discount Percent                  5
dtype: object

In [7]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [8]:
df1= pd.read_csv("/Users/srijjwolkunwor/Desktop/KunworDAPro/orders_data.csv",na_values = ['Not Available','unknown'])
##df1['Ship Mode'].unique() 
#df1.describe()

## Calculate Selling Price/Profit

In [9]:
df1['Selling Price'] = df1['List Price'] - df1['List Price'] *( df1['Discount Percent']/100)
df1['Selling Price']

0       254.8
1       708.1
2         9.5
3       940.8
4        19.0
        ...
9989     28.8
9990     86.4
9991    254.8
9992     29.1
9993    232.8
Name: Selling Price, Length: 9994, dtype: float64

In [10]:
df1['Profit'] = (df1['Selling Price'] - df1['cost price'])
df1['Profit']

0        14.8
1       108.1
2        -0.5
3       160.8
4        -1.0
        ...
9989     -1.2
9990     16.4
9991     34.8
9992     -0.9
9993     22.8
Name: Profit, Length: 9994, dtype: float64

In [11]:
#renaming profit and selling per unit
df1.rename(columns={'Profit': 'Unit_Profit', 'Selling Price': 'Unit_Selling_Price'}, inplace=True)

df1.head(3)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent,Unit_Selling_Price,Unit_Profit
0,1,01-03-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8,14.8
1,2,15-08-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1,108.1
2,3,10-01-2023,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,9.5,-0.5

## Changing datatype of Order Date column from Object to datetime

In [12]:
df1['Order Date'] = pd.to_datetime(df1['Order Date'], format= '%d-%m-%Y')
#df1.dtypes
#df1.head(2)
df1['Category'] .unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

## Dropping Columns that are not needed

In [13]:
df1.drop(columns= ['cost price', 'List Price', 'Discount Percent'], inplace=True)

## Calculating total profit

In [14]:
df1['Total Profit'] = (df1['Unit_Profit']* df1['Quantity'])
df1.head(2)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,Quantity,Unit_Selling_Price,Unit_Profit,Total Profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8,29.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,708.1,108.1,324.3

## Exporting dataframe to mySQL-using SQLALCHEMY library

In [15]:
from sqlalchemy import create_engine
#!pip install pymysql

In [16]:
engine = create_engine('mysql+pymysql://root:ArmyForever1!@localhost:3306/project')

try:
    #  Establishing connection
    with engine.connect() as conn:
        print("Successfully connected to MySQL database!")
        
        # Export DataFrame 
        df1.to_sql(
            'orders_data',
            con=engine,  
            index=False,
            if_exists='replace' # use append to update
        )
        print("Data successfully exported to MySQL!")

except Exception as e:
    print(f"Error: {e}")

Successfully connected to MySQL database!
Data successfully exported to MySQL!

## Questions

### Top 10 highest profit generating products with their Categories/Table View

In [17]:
df1.groupby('Product Id')

In [18]:
# Get top 10 highest-profit products with their categories
top_products = df1.groupby(['Product Id', 'Category'])['Total Profit'].sum() \
                 .sort_values(ascending=False) \
                 .reset_index() \
                 .head(10)

In [19]:
# Pivot 
pivot_table = top_products.pivot(index='Product Id', 
                                columns='Category', 
                                values='Total Profit')
#display
display(pivot_table.style
       .background_gradient(cmap='YlGn')
       .format('${:,.2f}'))

### Peak months for Each Category

In [20]:
 #Aggregate by Category, Year, and Month
category_month_year = df1.groupby(['Category', 'Order Date', 'Order Month']).agg(
    Total_Profit=('Total Profit', 'sum')
).reset_index()

# Find peak month for each category (across all years)
peak_months = category_month_year.loc[category_month_year.groupby('Category')['Total_Profit'].idxmax()]
peak_months

KeyError: 'Order Month'

### Total Sales for each Order

In [ ]:
df1['Total Sales'] = df1['Unit_Selling_Price'] * df1['Quantity']
df1.head(10)

### List all cities where orders have Shipped

In [ ]:
df1['City'].unique() #nunique for numbers(531)

### orders from "office supplies" category that were shipped 'Same day' order by order date

In [ ]:
df1[(df1['Category']=='Office Supplies') & (df1['Ship Mode'] == 'Same Day')].sort_values('Order Date')

### Find the average order value

In [ ]:
np.mean(df1['Total Sales'])

### Find the city with the total highest quantity of products ordered/ horizontal bar plot

In [ ]:
top_cities= df.groupby('City').sum('Quantity')['Quantity']\
            .reset_index()\
            .sort_values(by=['Quantity'], ascending = False).head(10)

In [ ]:
# horizontal bar plot
plt.figure(figsize=(10, 5))
sns.barplot(data=top_cities, 
           x='Quantity', 
           y='City',
           color='steelblue')

#  styling
plt.title('Top 10 Cities by Products Ordered', pad=15)
plt.xlabel('Total Quantity Ordered')
plt.ylabel('')
plt.grid(axis='x', alpha=0.2)

plt.tight_layout()
plt.show()

### Rank orders in each region by region in ascending, quantity in desc order

In [ ]:
regional_data=df1[['Order Id', 'Region', 'Quantity']].sort_values(by = ['Region','Quantity'], ascending= [True, False])

### Total Sale by Region /Pie chart

In [ ]:
 #total quantity by region
region_quantity = df1.groupby('Region')['Total Sales'].sum()

#  pie chart
plt.pie(
    region_quantity,
    labels=region_quantity.index,  
    autopct='%1.0f%%',  # Whole numbers
    startangle=90,
    colors=['#ff9999','#66b3ff','#99ff99','#ffcc99'],
    wedgeprops={'edgecolor': 'white', 'linewidth': 0.3},
    textprops={'fontsize': 6}
)
plt.title('Percentage of Total Sales Sold by Region', pad=20)
plt.axis('equal')  # Equal aspect ratio ensures circular shape
plt.tight_layout()
plt.show()

### Yearly/Quaterly Sales

In [ ]:
df1['Year'] = df1['Order Date'].dt.year
df1.head(2)

In [ ]:
temp_df = df1.groupby(['Year','Quarter'])['Total Sales'].sum().reset_index()
temp_df

In [ ]:
orders_by_quarter = df1.groupby(['Year', 'Quarter'])['Order Id'].count().reset_index()
orders_by_quarter

In [ ]:
temp_df[temp_df['Quarter'] ==1]

### Find 10 higest profit generating products

In [ ]:
df1.groupby('Product Id').sum(['Total Profit']) ['Total Profit']\
.reset_index()\
.sort_values(by='Total Profit',ascending=False).head(10)

### top 3 highest selling products in each region with quantity

In [ ]:
top3_region=df1.groupby(['Region', 'Product Id']).sum('Quantity')['Quantity']\
.reset_index()\
.sort_values(by = ['Region','Quantity'], ascending= [True, False])

### Sales & Profit by region

In [ ]:
 region_data = df1.groupby('Region').agg({'Total Sales':'sum', 'Total Profit':'sum'}).sort_values('Total Sales', ascending=False)

# Plot
plt.figure(figsize=(10, 6))
sns.heatmap(region_data, annot=True, fmt='.0f', cmap='YlGnBu', cbar_kws={'label': 'Amount ($)'})
plt.title('Sales & Profit by Region', fontsize=16)
plt.ylabel('Region')
plt.show()